[submodule "cookbooks/chef-solrcloud"]
	path = cookbooks/chef-solrcloud
	url = https://github.com/vkhatri/chef-solrcloud.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/chef-sugar"]
	path = cookbooks/chef-sugar
	url = https://github.com/sethvargo/chef-sugar.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = https://github.com/hw-cookbooks/postgresql.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/agileorbit-cookbooks/java.git
[submodule "cookbooks/ulimit"]
	path = cookbooks/ulimit
	url = https://github.com/bmhatfield/chef-ulimit.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/chef-cookbooks/mysql.git
[submodule "cookbooks/smf"]
	path = cookbooks/smf
	url = https://github.com/livinginthepast/smf.git
[submodule "cookbooks/yum-mysql-community"]
	path = cookbooks/yum-mysql-community
	url = https://github.com/chef-cookbooks/yum-mysql-community.git
[submodule "cookbooks/rbac"]
	path = cookbooks/rbac
	url = https://github.com/livinginthepast/rbac.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/chef-cookbooks/yum.git
